$bg-color: #EFF0F3;
$headline-color: #0d0d0d;
$paragraph-color: #2a2a2a;
$button-color: #FF8E3C;
$button-text-color: #0d0d0d;
// ILLUSTRATION
$stroke-color: #0d0d0d;
$main-color: #eff0f3;
$highlight-color: #ff8e3c;
$secondary-color: #fffffe;
$tertiary-color: #d9376e;